.enemyBattlerSpace {
  /*max-width: 50%;*/
  /*margin: 100px 25% 100px 25%;*/
  text-align: center;
}
.playerBattleSpace {
  max-width: 50%;
  float: right;
  text-align: center;
}
#userSprite {
  height: 300px;
  margin-top: 200px;
}
#enemySprite {
  height: 300px;
  margin-top: 200px;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.container {
  background-image: url("../../assets/Battlebacks/autel.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  min-height: 120px;
}
