
<div class="container">

  <h1>Loot Crate</h1>
  <button (click)="shopClicked()" class="btn btn-primary">Shop</button>
  <button class="btn btn-primary">Inventory</button>
  <button (click)="homeClicked(currentActivePlayer)" class="btn btn-primary">Home</button>
    <div *ngIf="watchClick===true">
      {{shopLoot.name}}
    </div>
  <div class="inventory">
    <h3>Inventory</h3>
    <div class="row">
      <div class="card col-md-3" *ngFor="let lootCrate of lootCrates | async">
        <div class="card-body">
          <h4 class="card-title">{{lootCrate.name}}</h4>
          <button (click)="openBox(lootCrate)" class="btn btn-success">Open</button>
          <div *ngIf="lootCrate" [class]="showLoot(lootCrate)">
            <div *ngIf="lootCrate.attack">ATTACK: +{{lootCrate.attack}}</div>
            <div *ngIf="lootCrate.idleAttack">IDLE ATTACK: +{{lootCrate.idleAttack}}</div>
            <div *ngIf="lootCrate.critChance">CRITICAL CHANCE: +{{lootCrate.critChance}}</div>
            <div *ngIf="lootCrate.criticalDamage">CRITICAL DAMAGE: +{{lootCrate.criticalDamage}}</div>
            <div *ngIf="lootCrate.goldRate">GOLD RATE: +{{lootCrate.goldRate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
