.card.col-md-3 {
  text-align: center;
  display:inline-block;
  min-height: 150px;
  column-gap: 5px;
}
.inventoryCrates div:first-child.col-md-3 {
  display:none
}
.btn-danger {
  float:right;
  height: 120px;
  width: 200px;
  font-size: 30px;
}
/*.container {
  background-image: url("../../assets/Battlebacks/chateau1.png");
  background-repeat: no-repeat;
  background-size: contain;
}*/
.notEnough{
  color: #dc3545;
  float:right;
}
